---
title: About
interPageName: About
---

{{#extend "base"}}
  {{#content "main"}}
<div class="body-container" data-barba="container" data-barba-namespace="{{interPageName}}">
<img src="https://images.pexels.com/photos/6406/sun-moon-eclipse-march-2015.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    
        <div>
            <h1>{{title}}</h1>
            <a href="./index.hbs">Home</a>
            </div>

    </div>
    {{/content}}
{{/extend}}